<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <aside id="sidebar">
      <nav id="tags">
        <a href="/index.html" id="avatar"></a>

        <ul id="tags__ul">
          <li id="js-label1" class="tags__li tags-btn active">所有文章</li>
          <li id="js-label2" class="tags__li tags-btn">移动端</li>
          <li id="js-label3" class="tags__li tags-btn">H5播放器</li>
          <li id="js-label4" class="tags__li tags-btn">CSS技术</li>
          <li id="js-label5" class="tags__li tags-btn">前端综合</li>
          <li id="js-label6" class="tags__li tags-btn">Github</li>
        </ul>

        <div id="tags__bottom">
          <a href="mailto:place_your_email_address_here" id="icon-email" class="tags-btn fontello"></a>
          <a href="/rss.xml" id="icon-feed" class="tags-btn fontello"></a>
        </div>
      </nav> <!-- end #tags -->

      <div id="posts-list">
        <form action="" id="search-form">
          <a href="/index.html" id="mobile-avatar"></a>
          <!-- NOTE: input field is disabled by default -->
          <input id="search-input" type="text" placeholder="Search..." disabled >
        </form>

        <nav id="pl__container">
        {% for post in site.posts %}
          <a class="{{ post.categories }} pl__all" href="{{ post.url }}"><span class="pl__circle"></span><span class="pl__title">{{ post.title }}</span><span class="pl__date">{{ post.date | date: "%b %Y" }}</span></a>
        {% endfor %}
        </nav>
      </div> <!-- end #posts-list -->
    </aside> <!-- end #sidebar -->

    <div id="post">
      <div id="pjax">
        {{ content }}
      </div> <!-- end #pjax -->

      <div id="post__toc-trigger">
        <div id="post__toc">
          <span id="post__toc-title">Table of Contents</span>
          <ul id="post__toc-ul"></ul>
        </div>
      </div>
    </div> <!-- end #post -->

    <button id="js-fullscreen"><span id="icon-arrow" class="fontello"></span></button>

    <script src="./assets/js/jquery-2.0.3.min.js"></script>
    <script src="./assets/js/jquery.pjax.js"></script>
    <script src="./assets/js/nprogress.js"></script>
    <script src="./assets/js/script.js"></script>
  </body>
</html>